body {
	display: grid;
	grid-template-columns: 70% auto;
	grid-template-rows: auto auto
}

header {
	grid-column: span 2;
	text-align: center;
}
h1 {
	font-size: 28pt;
	letter-spacing: -0.07em;
	margin-bottom: -0.7em;
}

div {
	border:  thin solid black ;
	margin: 1em;
	background-color: brown;
	color: cornsilk;
}
h2 {
	text-align: center;
	
}

progress {
	height:4em;
	width: 4em;
	transform: rotate(-90deg);
}

#slider {
	display: grid;
	grid-template-columns: auto auto;
}
button {
	font-size: 20px;
	padding: 12px 12px;
	border-radius: 8px;
	background-color: burlywood;
	font-size: 12px;
  border: 2px solid rgba(0, 0, 0, 0.692);

  display: inline-block;
  
  cursor: pointer;
  text-align: center;
 
  color: #fff;

  }
  button:active {
	background-color:rgb(153, 128, 95);
	
	transform: translateY(1px);
  }