body {
	display: grid;
	grid-template-columns: 70% auto;
	grid-template-rows: auto auto;
	margin-left: 2em;
	margin-right: 2em;
	background-color: cornsilk;
}

header {
	grid-column: span 2;
	text-align: center;
}
h1 {
	font-size: 28pt;
	letter-spacing: -0.07em;
	margin-bottom: -0.7em;
}

div {
	border:  thin solid cornsilk;
	margin: 0.5em;
	background-color: brown;
	color: cornsilk;
	padding: 0.5em;
}
h2 {
	text-align: center;
	
}

progress {
	height:4em;
	width: 4em;
	transform: rotate(-90deg);
}

#slider {
	display: grid;
	grid-template-columns: auto auto;
}
button {
	margin: 0.5em;
	font-size: 20px;
	padding: 12px 12px;
	border-radius: 8px;
	background-color: burlywood;
	font-size: 12px;;

  display: inline-block;
  
  cursor: pointer;
  text-align: center;
 
  color: #fff;

  }
  button:active {
	background-color:rgb(153, 128, 95);
	
	transform: translateY(1px);
  }